// Variables
$primary: #d24115;
$black: #000000;

// Import Bootstrap CSS
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Global Styles
body {
	line-height: 1.6;
	color: $black;
	font-weight: 600;
	font-family: "Arya", sans-serif; // Secondary font
}

// Headings Styles
h1,
h2,
h3,
h4 {
	color: $primary;
	font-weight: 700;
	font-family: "Tillana", cursive;
}

.subheading {
	margin-bottom: 0.25em;
	margin-top: 1em;
}

// Main Section Styles
.main {
	padding: 1em 0;
}

hr {
	margin: 2em 0;
}

// Lists Styles
ul {
	font-size: 1em;
	margin: 0;
	list-style: square;

	// Special styling for class 'doha'
	&.doha {
		font-family: "Gotu", sans-serif;
	}

	li {
		font-weight: 600;

		// Spacing between list items
		&:not(:last-child) {
			margin-bottom: 1em;
		}

		// Styles for list item meanings
		.meaning {
			font-weight: 400;
			font-size: 0.85em;
			font-family: "Gotu", sans-serif;
		}
	}
}
