// Variables
$primary: #d24115;
$black: #000000;

// Customize Bootstrap CSS
$font-size-base: 1.25rem !default;
$heading-size-base: 1.25rem !default;
$line-height-base: 1.8 !default;

$h1-font-size: $heading-size-base * 2.5 !default;
$h2-font-size: $heading-size-base * 2 !default;
$h3-font-size: $heading-size-base * 1.75 !default;
$h4-font-size: $heading-size-base * 1.5 !default;
$h5-font-size: $heading-size-base * 1.25 !default;
$h6-font-size: $heading-size-base !default;

// Import Bootstrap CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Import font faces
@import "fonts";

// Global Styles
body {
	font-family: "Eczar", serif;
	font-weight: 500;
	position: relative;
}

// Headings Styles
h1,
h2,
h3,
h4 {
	color: $primary;
	font-weight: 700;
}

.subheading {
	margin-bottom: 0.25em;
	margin-top: 1em;
	font-weight: 600;
}

.bg-container {
	position: fixed;
	inset: 0;

	img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}

// Main Section Styles
.main {
	padding: 1em 0;
	max-width: 100%;
	width: 786px;
	margin: 0 auto;
	text-align: center;
}

hr {
	margin: 2em 0;
}

// Lists Styles
ul {
	font-size: 1em;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		@include font-size($font-size-base * 1.25);

		// Spacing between list items
		&:not(:last-child) {
			margin-bottom: 1em;
		}

		// Styles for list item meanings
		.meaning {
			color: $primary;
			font-weight: 400;
			@include font-size($font-size-base);
		}
	}
}
